body {
 font-family: Monospace;
 background-color: #FFFFFF;
 margin: 0px;
 overflow: hidden;
}

#viewer {
  position: absolute;
  top: 0px;
  left: 180px;
  width: -webkit-calc(100% - 150px);
  width: calc(100% - 150px);
  height: 100%;
  border: 0px;
}

#button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 180px;
  height: 20px;
}
